.player {
    display: flex;
    align-items: center;
    background-color: rgb(36, 36, 36, 0.8);
    width: 300px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

    span {
        margin-left: 16px;
        font-size: 32px;

    }

    img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        object-fit: cover;
    }
}

.playerActive {
    background-color: rgb(0, 167, 0);
}