.field {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-image: url('/assets/img/wood.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-stack {
    position: relative;

    img {
        position: absolute;
        width: 120px;
    }
}

.topCard {
    cursor: pointer;
    transition: all 125ms ease-in-out;

    &:hover {
        transform: scale(1.1) translateY(-25px);
        transition: transform 0.2s;
    }
}

.pick-card {

    animation: pick-card-animation 1s ease-in-out forwards;
}

.played-card {
    transform: scale(1.5) translateX(150px) translateY(-220px) rotate(-20deg);
    right: 25px;
}

@keyframes pick-card-animation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.9);
    }

    100% {
        transform: scale(1.5) translateX(150px) translateY(-220px) rotate(-20deg);
    }

}

.playerPosition {
    position: absolute;
    right: 0;
    z-index: 1;

}

.btn-add {
    position: absolute;
    right: 32px;
    bottom: 32px;

    @media (max-width: 720px) {
        bottom: 100px;
    }
}

.pinBottom {
    position: absolute;
    bottom: 32px;
    left: 100px;
    right: 100px;
    color: black;


    @media (max-width: 720px) {
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.scrollContainer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;

    app-player-mobile {
        margin: 8px;
    }
}