<app-player (click)="editPlayer(i)" *ngFor="let player of game.players; let i = index"
    [ngStyle]="{'top.px': 80 + (i * 70)}" class="playerPosition hide-mobile" [name]="player"
    [playerActive]="i == game.currentPlayer"
    [image]="game.player_images[i]"></app-player>

<div class="scrollContainer hide-desktop">
    <app-player-mobile (click)="editPlayer(i)" *ngFor="let player of game.players; let i = index"
        [ngStyle]="{'left.px': 10 + (i * 100)}" [name]="player"
        [playerActive]="i == game.currentPlayer"
        [image]="game.player_images[i]"></app-player-mobile>
</div>

<div class="field">
    <div class="card-stack">
        <img [ngStyle]="{'right.px':i*7}" *ngFor="let c of [0,1,2,3]; let i = index;" src="assets/img/card_cover.png"
            alt="Card Back">

        <img (click)="takeCard()" class="topCard" style="right: 28px" src="assets/img/card_cover.png" alt="Card Back">



        <img *ngFor="let card of game.playedCard" class="played-card" src="assets/img/cards/{{card}}.png"
            alt="Card Back">

        <img (click)="takeCard()" *ngIf="game.pickCardAnimation" class="pick-card" style="right: 28px"
            src="assets/img/cards/{{game.currentCard}}.png" alt="Card Back">

    </div>
</div>


<app-game-info [card]="game.currentCard" class="pinBottom"></app-game-info>


<button (click)="openDialog()" mat-fab color="primary" class="btn-add">
    <mat-icon>add</mat-icon>
</button>